h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
  }
  
  
  
  h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  }
  
  .summary {
   font-size:22px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center; 
   background-color: aquamarine;
    padding
  }
  
  .preamble{
   font-size: 16px;
   display: flex;
   justify-content: flex-start;
   flex-direction:column ;
   align-items: flex-start; 
   background-color: grey;
   padding: 0px;
   width: 908px;
   height: 300px;
  }
  
  .explanation{
   font-size:17px;
   display: flex;
   justify-content: flex-start;
   flex-direction:column ;
   align-items: flex-start; 
   background-color: lightgrey;
   padding: 0px;
   width: 908px;
   height: 300px;
   position: relative;
   left:908px;
   bottom:300px;
  }
  
  .participation{
    font-size:16px;
   display: flex;
   justify-content: flex-start;
   flex-direction:column ;
   align-items: flex-start; 
   background-color: grey;
   padding: 0px;
   width: 908px;
   height: 300px;
     position: relative;
   left: 0px;
   bottom:300px;
  }
  
  .benefits{
    font-size:16px;
   display: flex;
   justify-content: flex-start;
   flex-direction:column ;
   align-items: flex-start; 
   background-color: lightgrey;
   padding: 0px;
   width: 908px;
   height: 300px;
     position: relative;
   left: 908px;
   bottom:600px;
  }
  
  .requirements{
  font-size:18px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center; 
   background-color: aquamarine;
   position:relative;
   bottom: 600px;
  }